/* Definition of variables */
:root {
  --primary-col: #4b60a5;
  --primary-col-glow: #4b60a5aa;
  --gray: #444;

  --bg-col: #0F0F0F;
  --input-text-col: #FFFFFF;
  --btn-list-col: #181818;
  --btn-list-col-hover: #272727;
  --btn-list-col-hover-glow: #27272777;
  --btn-nav-col: #3E3E3E;
  --btn-nav-col-hover: #0F0F0F;
  --error: #c41313;

  --emoji-font: "Noto Color Emoji";
}

* {
  outline: none;
}

window {
  background-color: var(--bg-col);
  border-radius: 10px;
  /* padding: 12px; */
  padding: 12px 0px 0px 0px;
}
.generic-btn{
  background: var(--btn-list-col);
  /* margin: 0 20px; */
  padding: 0 5px;
  border-radius: 10px;
  color: var(--primary-col);
  -gtk-icon-size: 24px; 
}

.generic-btn:hover{
  background: var(--btn-list-col-hover);
  animation: boing-ani 2s ease-in-out infinite;
  border: 1px solid var(--gray);
}

@keyframes boing-ani {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pin-window-btn:hover {
  border: 1px solid var(--gray);
}

.shot-animation {
  animation: shot 1s ease-in-out forwards;
}

/* Mantener el hover incluso durante la animación de click */
.generic-btn.shot-animation:hover {
  background: var(--btn-list-col-hover);
  animation: boing-ani 2s ease-in-out infinite, shot 1s ease-in-out forwards;
}

@keyframes shot {
  0% {
    border: 1px solid var(--primary-col);
  }
  50% {
    border: 1px solid white;
  }
  100% {
    border: 1px solid transparent;
  }
}

entry {
  background-color: var(--btn-list-col);
  color: white;
  border-radius: 10px;
  padding: 0 15px;
}

.focused.active {
  font-weight: 500;
  box-shadow: 0 3px 7px 0 var(--primary-col-glow), 0 1px 2px -1px var(--primary-col-glow);
  border: 1px solid var(--primary-col);

}

.focused.active:focus {
  box-shadow: inset 0 0 0 1px var(--primary-col-glow);

}

.category_nav button {
  background: var(--btn-list-col);
  border: none;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.category_nav button:hover, .category_nav button:focus {
  background: var(--btn-list-col-hover);
  box-shadow: 0 3px 7px 0 var(--btn-list-col-hover-glow), 0 1px 2px -1px var(--btn-list-col-hover-glow);
}
.nav_enabled button.active, .nav_enabled button.active:focus {
  background: var(--primary-col);
}
.nav_enabled button.active, .nav_enabled button.active:hover, .nav_enabled button.active:focus {
  box-shadow: 0 3px 7px 0 var(--primary-col-glow), 0 1px 2px -1px var(--primary-col-glow);
}

.emoji-item {
  font-family: var(--emoji-font);
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--btn-list-col);
}

.emoji-item:hover {
  background-color: var(--btn-list-col);
}
.emoji-item:focus {
  background-color: var(--btn-list-col-hover);
}


.toast-container {
  background-color: var(--btn-list-col);
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 20px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-col);
  
  transition: all 0.3s ease-in-out;
  transform: scale(0.0000000001);
}

.toast-container.error {
  border: 1px solid var(--error);
}

.toast-label {
  color: white;
  font-weight: 700;
}

.show-toast {
  transform: scale(1);

  animation-name: boingCombo;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes boingCombo {
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }

  0.6% {
    transform: scale3d(1.1,1.1,1.1);
  }

  1.2% {
    transform: scale3d(.9,.9,.9);
  }

  1.8% {
    opacity: 1;
    transform: scale3d(1.03,1.03,1.03);
  }

  2.4% {
    transform: scale3d(.97,.97,.97);
  }

  3% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }

  90% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }

  92% {
    transform: scale3d(.9,.9,.9);
  }

  95%, 95.5% {
    opacity: 1;
    transform: scale3d(1.1,1.1,1.1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }
}